<div class="max-w-3xl mx-auto bg-white rounded-lg shadow-md p-8">
  <div class="mb-6">
    <h1 class="text-3xl font-bold text-gray-800"><%= @user.full_name %>'s Profile</h1>
    <span class="text-gray-600"><%= link_to "#{@following_count} Following", show_following_follow_path, class: "hover:text-gray-800" %></span>
    <span class="text-gray-600 mx-2">|</span>
    <span class="text-gray-600"><%= link_to "#{@followers_count} Followers", show_followers_follow_path, class: "hover:text-gray-800" %></span>
    <% unless @user == current_user %>
      <span class="ml-4">
        <% if current_user.following.include?(@user) %>
          <%= button_to "Unfollow", unfollow_user_follow_path(@user), method: :post, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
        <% else %>
          <%= button_to "Follow", follow_user_follow_path(@user), method: :post, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
        <% end %>
      </span>
    <% end %>
  </div>
  <div>
    <% @user_posts.each do |post| %>
      <%= render 'users_post', post: post %>
    <% end %>
  </div>
</div>